

/*---------------------------------------
    Detail section              
-----------------------------------------*/
#detail {
    background: #222;
    color: #ffffff;
}

#detail .fa {
  color: #f2545f;
  font-size: 48px;
}



/*---------------------------------------
    Video section              
-----------------------------------------*/
#video iframe {
  border: none;
}


